:root {
  --accent: #3399ff;
  --foreground: #003366;
  --light: #33cc99;
  --dark: #663399;
}

html {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Cascadia Code", monospace;
  background-color: #f5f0ff;
  margin: 0;
  height: 100%;
  font-size: 16px;
  line-height: 2;
  letter-spacing: 0.5px;
  word-wrap: break-word;
  font-weight: 400;
  color: #3399ff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  line-height: 1.4;
  margin: 0;
  color: #3399ff;
}

p {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  color: #663399;
}
